[Unit]
After=network.target
Description="automx2 - MUA configuration service"
Documentation=https://github.com/rseichter/automx2/blob/master/doc/automx2.adoc

[Service]
Environment=FLASK_APP=automx2.server:app
Environment=FLASK_CONFIG=production
ExecStart=/srv/www/automx2/bin/flask run --host=127.0.0.1 --port=4243
Restart=always
User=automx2
WorkingDirectory=/var/lib/automx2

[Install]
WantedBy=multi-user.target
